 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 718px;
}

.u-section-1 .u-shape-1 {
  width: 764px;
  height: 280px;
  background-image: none;
  margin: 60px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1024px;
  margin: -335px auto 5px;
}

.u-section-1 .u-image-1 {
  min-height: 625px;
  background-image: url("images/BrownPastelMinimalistLinktreeProfileImage.svg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 619px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  font-size: 3.4375rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  text-transform: none;
  margin: 32px auto 0 0;
  padding: 12px 24px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 886px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 574px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 680px;
  }

  .u-section-1 .u-image-1 {
    min-height: 440px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 55px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 471px;
    margin-top: -340px;
    margin-right: auto;
    margin-bottom: -5px;
  }

  .u-section-1 .u-image-1 {
    min-height: 660px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 27px 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 290px;
  }

  .u-section-1 .u-image-1 {
    min-height: 416px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 467px;
  background-image: url("images/BrownPastelMinimalistLinktreeProfileImage2.svg");
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 467px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 50%;
    min-height: 385px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 385px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-image-1 {
    min-height: 295px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 279px;
  }
} .u-section-3 {
  min-height: 1096px;
}

.u-section-3 .u-shape-1 {
  height: 402px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -334px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 218px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 10px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 218px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  line-height: 2.2;
  margin: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 184px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  line-height: 2.2;
  margin: 0;
}

.u-section-3 .u-list-1 {
  width: 1071px;
  margin: 21px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  min-height: 639px;
  grid-gap: 40px 40px;
  grid-auto-columns: calc(33.3333% - 26.6667px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-3 .u-group-1 {
  min-height: 232px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0 22px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 32px 22px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 0 22px 0 0;
}

.u-section-3 .u-text-7 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 148px;
  margin: 42px auto 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 94px 32px 0 auto;
  padding: 19px 41px 20px 40px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-3 .u-group-2 {
  min-height: 232px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 32px auto 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 148px;
  margin: 42px auto 0;
}

.u-section-3 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 94px 32px 0 auto;
  padding: 19px 41px 20px 40px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 30px;
}

.u-section-3 .u-group-3 {
  min-height: 232px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 32px auto 0 0;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-15 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 148px;
  margin: 42px auto 0;
}

.u-section-3 .u-btn-3 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 94px 32px 0 auto;
  padding: 19px 41px 20px 40px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1253px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 152px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 26.666700000000002px));
    min-height: 561px;
    grid-auto-columns: calc(33.333333333333336% - 26.666700000000002px);
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1878px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -382px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20.000025px));
    min-height: 1289px;
    grid-auto-columns: calc(50% - 20.000025px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2130px;
  }

  .u-section-3 .u-shape-1 {
    height: 611px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -591px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2023px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 603px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 696px;
  margin: 60px 0 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 483px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  width: 120px;
  height: 120px;
  background-image: url("images/pexels-photo-9775676.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 29px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 22px auto 0;
}

.u-section-4 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  width: 120px;
  height: 120px;
  background-image: url("images/pexels-photo-9023583.jpeg");
  background-position: 50% 100%;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 29px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 22px auto 0;
}

.u-section-4 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/pexels-photo-10077845.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 29px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 22px auto 0;
}

.u-section-4 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-image-4 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/pexels-photo-3851976.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 29px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 22px auto 0;
}

.u-section-4 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-image-5 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/pexels-photo-733500.jpg");
  background-position: 50% 9.85%;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 29px auto 0;
}

.u-section-4 .u-text-10 {
  margin: 22px auto 0;
}

.u-section-4 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-image-6 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/pexels-photo-5999980.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 29px auto 0;
}

.u-section-4 .u-text-12 {
  margin: 22px auto 0;
}

.u-section-4 .u-group-1 {
  width: 432px;
  min-height: 250px;
  margin: -367px auto 117px 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-13 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 12px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-4 .u-list-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 721px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 29px;
    margin-bottom: -246px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1563px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-group-1 {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-13 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1801px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-group-1 {
    min-height: 218px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-13 {
    font-size: 3.75rem;
  }
} .u-section-5 {
  background-image: none;
  min-height: 548px;
}

.u-section-5 .u-shape-1 {
  height: 331px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-5 .u-group-1 {
  min-height: 329px;
  width: 965px;
  box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  margin: -182px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-form-1 {
  height: 242px;
  margin: 0 0 0 434px;
}

.u-section-5 .u-form-group-2 {
  margin-left: 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  font-weight: 700;
  width: 100%;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  line-height: 2;
  margin: -242px 518px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 164px;
  min-width: 124px;
  margin: 29px auto 67px 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  font-size: 3rem;
  margin: -429px auto 376px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
  }

  .u-section-5 .u-form-1 {
    margin-left: 409px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 493px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 722px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-right: 273px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 710px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 133px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.27778rem;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 834px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.88889rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 655px;
}

.u-section-6 .u-text-1 {
  line-height: 2;
  width: 735px;
  margin: 60px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 855px;
  margin: 21px auto -61px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 386px;
  grid-gap: 20px 20px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-6 .u-container-layout-1 {
  padding: 16px 20px;
}

.u-section-6 .u-image-1 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-6 .u-container-layout-2 {
  padding: 16px 20px;
}

.u-section-6 .u-image-2 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-6 .u-container-layout-3 {
  padding: 16px 20px;
}

.u-section-6 .u-image-3 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-6 .u-container-layout-4 {
  padding: 16px 20px 17px;
}

.u-section-6 .u-image-4 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-6 .u-container-layout-5 {
  padding: 16px 20px 17px;
}

.u-section-6 .u-image-5 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-6 .u-container-layout-6 {
  padding: 0 20px;
}

.u-section-6 .u-image-6 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
    margin-bottom: -1px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 731px;
  }

  .u-section-6 .u-image-1 {
    height: 118px;
  }

  .u-section-6 .u-image-2 {
    height: 118px;
  }

  .u-section-6 .u-image-3 {
    height: 118px;
  }

  .u-section-6 .u-image-4 {
    height: 118px;
  }

  .u-section-6 .u-image-5 {
    height: 118px;
  }

  .u-section-6 .u-image-6 {
    height: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1445px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-bottom: -211px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 142px;
    width: 91px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 142px;
    width: 91px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 142px;
    width: 91px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    height: 142px;
    width: 91px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    height: 142px;
    width: 91px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-6 {
    padding: 16px 10px;
  }

  .u-section-6 .u-image-6 {
    height: 142px;
    width: 91px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1541px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-bottom: -151px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 705px;
}

.u-section-7 .u-group-1 {
  min-height: 464px;
  background-image: none;
  margin-top: 60px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.05);
}

.u-section-7 .u-container-layout-1 {
  padding: 35px 60px 0;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-7 .u-text-2 {
  letter-spacing: 0px;
  font-weight: 700;
  margin: 49px auto 0;
}

.u-section-7 .u-image-1 {
  width: 177px;
  height: 177px;
  object-position: 50% 1.75%;
  background-image: url("images/pexels-kha-ruxury-12836129.jpg");
  background-position: 50% 50%;
  margin: -56px auto -177px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-7 .u-group-1 {
    min-height: 408px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-1 {
    margin-top: -48px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-7 .u-group-1 {
    min-height: 468px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 951px;
}

.u-section-8 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto auto;
  height: auto;
  margin: 59px auto 41px 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 688px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-8 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-8 .u-text-5 {
  margin: 20px 20px 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-8 .u-text-7 {
  margin: 20px 20px 0;
}

.u-section-8 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-icon-4 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-8 .u-text-9 {
  margin: 20px 20px 0;
}

.u-section-8 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 0;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-icon-5 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-8 .u-text-11 {
  margin: 20px 20px 0;
}

.u-section-8 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 0;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-icon-6 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-8 .u-text-13 {
  margin: 20px 20px 0;
}

.u-section-8 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}